.container
  .tabs
    .tabs_item.active
      = link_to movies_path do
        映画一覧
    .tabs_item
      = link_to dramas_path do
        ドラマ一覧
  - @drama.each do |drama|
    = link_to drama_path(id: drama.id) do
      %hr
      .movie_list
        - drama.eyecatch.each do |eyecatch| 
          = image_tag eyecatch, class: 'movie_content_image'
      .movie
        %p= drama.title

  = link_to new_drama_path do
    .float_btn
      %i.fa.fa-plus


