.container
  .tabs
    .tabs_item.active
      = link_to movies_path do
        映画・ドラマ一覧
    .tabs_item

  - @movie.each do |movie|
    = link_to movie_path(id: movie.id) do
      .movie_list
        - movie.eyecatch.each do |eyecatch| 
          = image_tag eyecatch, class: 'movie_content_image'
      .movie_name
        %p= movie.title

  = link_to new_movie_path do
    .float_btn
      %i.fa.fa-plus

