.container
  .tabs
    .tabs_item{class: "#{'active' if current_page?(movies_path)}"}
      = link_to movies_path do
        映画・ドラマ一覧
    .tabs_item{class: "#{'active' if current_page?(timeline_path)}"}
      = link_to timeline_path do
        タイムライン



  - @movie.each do |movie|
    = link_to movie_path(id: movie.id) do
      .movie_list
        - movie.eyecatch.each do |eyecatch| 
          = image_tag eyecatch, class: 'movie_content_image'
      .movie_name
        %p= movie.title

      .movie_comments
        %p 「レビュー」
        %span= movie.comment_count
        %p 件
      .movie_liked
        %p 「観たい!」
        %span= movie.like_count
        %p 件

  = link_to new_movie_path do
    .float_btn
      %i.fa.fa-plus

