.container
  %ul
    -@movie.errors.full_messages.each do |message| 
      %li= message
  = form_with(model:@movie, url:movies_path, method:'post', local:true ) do |f|
    %div
      = f.label :eyecatch, '画像'
    %div
      = f.file_field :eyecatch
    %div
      = f.label :entertainment, '娯楽'
    %div
      = f.select :entertainment,  [ ["映画"], ["ドラマ"]],  prompt: "娯楽を選択してください"
    %div
      = f.label :genre, 'ジャンル'
    %div
      = f.select :genre,  [ ["アクション"], ["SF"],["スリラー"], ["アドベンチャー"], ["ファンタジー"], ["ホラー"], ["サスペンス"], ["ミステリー"], ["コメディ"], ["恋愛"], ["ファミリー"], ["ミュージカル"], ["アニメ"], ["その他"]], prompt: "ジャンルを選択してください"
    %div
      = f.label :title, 'タイトル'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :story, 'ストーリー'
    %div
      = f.text_area :story
    .actions
      = f.submit '保存', class: 'btn-primary'