.container
  = form_with(model:@movie, url:movies_path, method:'post', local:true ) do |f|
    %div
      = f.label :eyecatch, '画像'
    %div
      = f.file_field :eyecatch
    %div
      = f.label :title, 'タイトル'
    %div
      = f.text_field :title, class: 'text'
    %div
      = f.label :story, 'ストーリー'
    %div
      = f.text_area :story
    .actions
      = f.submit '保存', class: 'btn-primary'