.container
  = form_with(model:@movie, url:movies_path, method:'post', local:true ) do |f|
    %div
      = f.label :eyecatch, 'アイキャッチ'
    %div
      = f.file_field :eyecatch
    %div
      = f.label :title, 'タイトル'
    %div
      = f.text_field :title
    .actions
      = f.submit 'SUBMIT', class: 'avatar_submit_btn'