.container
  .movie
    .movie_nav
      %p= @movie.title
      .movie_nav_image
      - @movie.eyecatch.each do |eyecatch| 
        = image_tag eyecatch, class: 'movie_content_image'

    .movie_content
      .movie_like

      .movie_comment
        = link_to new_movie_comment_path(@movie.id) do
          = image_tag 'comment.png', class:'comment_icon'

      .movie_secret

      .movie_share
        = link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do
          = image_tag 'twitter.png', class: 'share_icon'

