.container
  .movie
    .movie_nav
      .movie_title#movie-show{data: {movie_id: @movie.id}}
        %p= @movie.title
      .dropdown
        = image_tag 'actions.svg', class: 'dropbtn'
        .dropdown-content.mini
          = link_to '編集する', edit_movie_path(@movie)
          = link_to '削除する', movie_path(@movie), data: { method:'delete', confirm:'本当に削除してもよろしいですか？'}
      .movie_nav_image
      - @movie.eyecatch.each do |eyecatch| 
        = image_tag eyecatch, class: 'movie_content_image'
      .movie_frame
        %p= @movie.entertainment
        %p ・
        %p= @movie.genre
      .movie_story
        %p <ストーリー>
        %p= @movie.story
     
      
  .movie_content
    - if user_signed_in?
      .movie_heart.hidden.active-heart
        = image_tag 'heart-active.svg', class:'like_icon'
        %p 観たい
      .movie_heart.hidden.inactive-heart
        = image_tag 'heart.svg', class:'like_icon'
        %p 観たい

    .movie_comment
      = link_to movie_comments_path(@movie.id) do
        = image_tag 'comment3.png', class:'movie_icon'
        %p 作品レビュー

    .movie_share
      = link_to "https://twitter.com/share?url=#{request.url}", title: 'Twitter', target: '_blank' do
        = image_tag 'twitter.png', class: 'movie_icon'
        %p 共有

    .movie_secret
      = link_to movie_spoilers_path(@movie.id) do
        = image_tag 'netabare.png', class: 'movie_icon'
        %p 考察部屋

= javascript_pack_tag 'movie'

