.container
  .header_comment
    %div
      %p.page_title 作品レビュー

  .comment
    -  @comment.each do |comment|
      .comment_content_username
        %p= comment.user.username
      .comment-feelings
        %p
          内容:#{comment.feelings}
        %p
          評価:#{comment.rate}点

      %div{:id => "star-rate#{comment.id}"}
      :javascript
        $('#star-rate#{comment.id}').raty({
          size      : 36,
          starOff   : '#{asset_path('star-off.png')}',
          starOn    : '#{asset_path('star-on.png')}',
          half      : false,
          readOnly: true,
          score: #{comment.rate},
        });
      %hr   

= form_with(model:[@movie, @comment],url:movie_comments_path, local: true) do |f|
  .comment_form
    .comment_form_container
      %label.comment_create_icon
        = f.label :feelings, 'コメント'
        = f.text_area :feelings, class: 'comment_text'
    .field
      #star.form-group.row
        = f.label :rate,'評価', class:'col-md-3 col-form-label'
        
      :javascript
        $('#star').raty({
          size     : 36,
          starOff:  '#{asset_path('star-off.png')}',
          starOn : '#{asset_path('star-on.png')}',
          scoreName: 'comment[rate]',
          half: false,
        });

  .comment_submit
    = f.submit '保存', class: 'btn-primary'

= javascript_pack_tag 'raty'

  