.container
  - @movies.each do |movie|
    = link_to movie_path(id: movie.id) do
      .movie_list
        - movie.eyecatch.each do |eyecatch| 
          = image_tag eyecatch, class: 'movie_content_image'
      .movie_name
        %p= movie.title
        %div{:id => "star-rate#{movie.id}"}
      .movie_comments
        %p 「レビュー」
        %span= movie.comment_count
        %p 件
      .movie_liked
        %p 「観たい!」
        %span= movie.like_count
        %p 件
    :javascript
        $('#star-rate#{movie.id}').raty({
        size: 36,
        starOff: '#{asset_path('star-off.png')}',
        starOn: '#{asset_path('star-on.png')}',
        harf: false,
        readOnly: true,
        score: #{movie.comments.average(:rate).to_f.round(1)}
      });