.container
  = render 'commons/tabs'
  - @movies.each do |movie|
    = link_to movie_path(id: movie.id) do
      .movie_list
        - movie.eyecatch.each do |eyecatch| 
          = image_tag eyecatch, class: 'movie_content_image'
      .movie_name
        %p= movie.title

      .movie_comments
        %p 「レビュー」
        %span= movie.comment_count
        %p 件

      .movie_liked
        %p 「観たい!」
        %span= movie.like_count
        %p 件

  = link_to new_movie_path do
    .float_btn
      %i.fa.fa-plus